---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getI18N } from '@i18n/index';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const dataCV = getI18N({ currentLang });
const { languages } = dataCV
---

<section>
  <h3><i class="ti ti-language"></i> {t('languages.title')}</h3>
  {
    languages.map(
      ({ language, level }) => {

        return (
          <div>
            <p>{language}</p>
            <p>{level}</p>
          </div>
        )
      }
    )
  }
</section>

<style>  
  section {
    @media (width >= 768px) {
			flex-basis: 40%;
    }
		@media (width >= 1280px) {
      flex-basis: 15%;
		}
  }
  div {
    display: grid;
    grid-template-columns: 25% max-content;
    grid-template-rows: 1fr;
    column-gap: 1rem;
    @media (width >= 1280px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 3rem;
    }
  }
</style>