---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getI18N } from '@i18n/index';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const dataCV = getI18N({ currentLang });
const { languages } = dataCV
---

<section>
  <h3><i class="ti ti-language"></i> {t('languages.title')}</h3>
  {
    languages.map(
      ({ language, level }) => {

        return (
          <div class="language-item">
            <p class="language-item-language">{language}</p>
            <p class="language-item-level">{level}</p>
          </div>
        )
      }
    )
  }
</section>

<style>  
  section {
    @media (width >= 768px) {
			flex-basis: 40%;
    }
		@media (width >= 1280px) {
      flex-basis: 15%;
		}
  }
  .language-item {
    display: flex;
    column-gap: 1rem;
    p {
      flex-basis: 80px;
    }
    .language-item-language {
      flex-grow: 1;
    }
    .language-item-level {
      flex-grow: 5;
      @media (width >= 768px) {
        flex-grow: 4;
      }
      @media (width >= 1280px) {
        flex-grow: 1;
      }
    }
  }
</style>