---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getI18N } from '@i18n/index';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const dataCV = getI18N({ currentLang });
const { languages } = dataCV
---

<div>
  <h3><i class="ti ti-language"></i> {t('languages.title')}</h3>
  {
  languages.map(({ language, level }) => {
    return (
      <div class="language-item">
        <p class="col language-item-language">{language}</p>
        <p class="col language-item-level">{level}</p>
      </div>
    )
  })
  }
</div>

<style>
  .language-item {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    @media (width >= 320px) {
      max-width: 60%;
    }
    @media (width >= 425px) {
      max-width: 40%;
    }
    @media (width >= 768px) {
      max-width: 60%;
    }
    p {
      flex: 1;
    }
  }
</style>