---
import Cursor from '@components/Cursor.astro'
import Education from '@/components/Education.astro'
import Experience from '@components/Experience.astro'
import Hero from '@components/Hero.astro'
import LanguagePicker from '@components/LanguagePicker.astro'
import Layout from '@layouts/Layout.astro'
import ThemeSelector from '@/components/ThemeSelector.astro'
---

<Layout>
	<header>
		<ThemeSelector />
		<LanguagePicker />
	</header>
	<main>
		<Hero/>
		<Experience/>
		<Education/>
	</main>
	<Cursor/>
</Layout>
