<div id="cursor" class="custom-cursor"></div>

<style>
	.custom-cursor {
		background-color: #5b3d6a;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 50px #5b3d6a;
    height: 10px;
		opacity: 0.3;
    position: fixed;
    width: 10px;
		z-index: 9;
	}
</style>

<script>
	const cursor = document.getElementById('cursor')
	document.addEventListener('mousemove', (e) => {
		cursor.style.top = e.clientY + 'px'
		cursor.style.left = e.clientX + 'px'
		cursor.style.display = 'block'
	})
	
	document.addEventListener('mouseout', () => {
		cursor.style.display = 'none'
	})
</script>