---
import '@cssglobal'
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={`${lang}`} translate="no" data-theme>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t('site.description')} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<link rel="stylesheet" href="/assets/tabler-icons/webfont/tabler-icons.min.css" />
		<link rel="stylesheet" href="/assets/flag-icons/css/flag-icons.min.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('site.title')}</title>
	</head>
	<body>
		<slot />
	</body>
</html>